<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Welcome to Patient Module</h1>
     <p align="center">
        <a href="{% url 'clinicl'%}">home</a> |
        <a href="{% url 'doctorl'%}">Doctor</a> |
        <a href="#">Patient</a>
    </p>
</body>
</html>