<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form{
        border:2px solid blue;
        height:200px;
        width:400pxl
        }
    </style>
</head>
<body bgcolor="yellow" text="red">
    <header>
        <p align="center">
            <a href="{% url 'homel'%}">home</a>
            <a href="{% url 'aboutl'%}">about</a>
            <a href="#">contact</a>
        </p>
    </header>
    <hr>
    <h1>
        ward no 11,village bhurahi,dis supaul,state bihar
    </h1>
    <h2>
        Owner Phone number is:{{phone}}
    </h2>
    <form name="regForm" action="{% url 'contactprocess'%}" method="get">
        <table align="center" cellspacing="5px" cellpadding="5px">
            <tr>
            <td><label for="id1">Name:</label></td>
            <td><input type="text" id="id1" name="studentName"></td>
        </tr>
        <tr>
            <td><label for="id2">MailID:</label></td>
            <td><input type="email" id="id2" name="studentMail"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Get Notification">
            </td>
        </tr>
        </table>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <footer>
        <h2>copyright@ranveerschool</h2>
    </footer>
</body>
</html>