<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="yellow" text="red">
    <header>
        <p align="center">
            <a href="{% url 'homel'%}">home</a>
            <a href="{% url 'aboutl'%}">about</a>
            <a href="{% url 'contactl'%}">contact</a>
        </p>
    </header>
    <hr>
    <h1>
        Hey {{name}}, we will send future classes into to {{email}}
        <br><br><br>

        Thank You for registering
    </h1>

    <br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <footer>
        <h2>copyright@ranveerschool</h2>
    </footer>
</body>
</html>