.c1{
    text-align: center;
    color: aqua;
    background-color: pink;
}
#img1{
    border: 10px solid red;
}
#img2{
    border: 10px dashed green;
}
#img3{
    border: 10px dotted blue;
}
*{
    padding: 10px;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid red;
}